.panel {
  animation: open;
  /* transition: all ease-out; */
  animation-duration: 1600ms;
  animation-delay: 2200ms;
  animation-fill-mode: forwards;
}

.logo {
  animation: disapear;
  transition: all ease-out;
  animation-duration: 2400ms;
  animation-fill-mode: forwards;
}

@keyframes open {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes disapear {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
