.open-animation {
  transition: all 1600ms ease 2s;
  animation: 1600ms ease 2s opening;
  animation-fill-mode: forwards;
}

@keyframes opening {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.logo {
  animation: disapear;
  transition: all ease-out;
  animation-duration: 2400ms;
  animation-fill-mode: forwards;
}

@keyframes disapear {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  30% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
